{% extends "sidebar/sidebar.html" %}
{% load static %}    
{% block title %}Home{% endblock %}  
{% block title_1 %} 
   <i class='bx bxs-home icon'></i>
   <span class="text nav-text p-1">Home</span>
{% endblock %} 
{% block content %}  

    <div class="container p-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg card-hover">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cantidad de Clientes Total</h5>
                        <p class="card-text fs-4 fw-bold" id="clientesTotal"> {{clientes}} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg card-hover">
                    <div class="card-body">
                        <h5 class="card-title">Clientes con Deudas</h5>
                        <p class="card-text fs-4 fw-bold" id="clientesDeudas"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg card-hover">
                    <div class="card-body">
                        <h5 class="card-title">Clientes al Día</h5>
                        <p class="card-text fs-4 fw-bold" id="clientesAlDia"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}